<div class="content main-page">
  <div class="header">
    <ul class="breadcrumb">
      <li>Portfolio</li>
    </ul>
  </div>
  <div class="main-page__info">
    <div class="main-page__date">
      {{chartDate | date: 'EEEE, d MMMM'}}
    </div>
    <div class="main-page__container">
      <div class="main-page__title">TOTAL BALANCE</div>
      <div class="main-page__amount">{{getCurrencySymbol(currency)}}{{getFormattedTotalAmount(total)}}</div>
    </div>
    <div class="main-page__container__bottom">
      <div class="live-photo-top">
        <div class="effects">
          <img src="../../../../img/new-assets/wallet.png" alt="">
          <h5>Live Photo Effects</h5>
          <p>Create loop. bounces and long exposures from your Wallet</p>
        </div>
        <div class="editing">
          <img src="../../../../img/new-assets/4dots.png" alt=""> 
          <h5>Live Photo Editing</h5>
          <p>You can now choose a new key photo, trim and mute your Live Photos.</p>
        </div>
      </div>
      <div class="live-photo-bottom">
          
        <h5>Take a quick your of Photos...</h5>
        <p>You can view the tour later from the Help menu.</p>
      </div>
    </div>
    <main-chart></main-chart>
  </div>
</div>
<main-right-bar (notify)="changeCurrency($event)"></main-right-bar>